{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small class="text-muted">Copyright &copy; <a href="https://github.com/shubhamkumar96/go-microservices" target="_blank">Shubham </a></small>
            </div>
        </div>
    </div>
{{end}}