*.DS_Store
front-end/frontApp
broker-service/brokerApp
auth-service/authApp
logger-service/loggerApp
mail-service/mailApp
listener-service/listenerApp
db-data/postgres/
db-data/mongo/
db-data/rabbitmq/
