*.DS_Store
db-data/mongo/
db-data/postgres/
db-data/rabbitmq/
auth-service/authApp
mail-service/mailApp
front-end/frontEndApp
broker-service/brokerApp
logger-service/loggerApp
listener-service/listenerApp
